@import "tailwindcss";

.fondo{
    background-image: url('/src/assets/images/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@config "../../tailwind.config.js"